<?xml version="1.0"?>
<config>
    <modules>
        <Hazemnoor_Customers>
            <version>1.0.0</version>
        </Hazemnoor_Customers>
    </modules>
    <global>
        <helpers>
            <hazemnoor_cusromers>
                <class>Hazemnoor_Customers_Helper</class>
            </hazemnoor_cusromers>
        </helpers>
        <models>
            <hazemnoor_cusromers>
                <class>Hazemnoor_Customers_Model</class>
                <resourceModel>customers_mysql4</resourceModel>
            </hazemnoor_cusromers>
        </models>
        <resources>
            <hazemnoor_customers_setup>
                <setup>
                    <module>Hazemnoor_Customers</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hazemnoor_customers_setup>
            <hazemnoor_customers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hazemnoor_customers_write>
            <hazemnoor_customers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hazemnoor_customers_read>
        </resources>
    </global>
</config> 